body {
  background-color: rgb(248, 244, 244);
}
a {
  text-decoration: none;
  color: inherit;
}
/* ========FORM========== */
.search-form {
  height: 70px;
  width: 100%;
  background-color: rgba(11, 38, 88, 0.692);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 15px 0;
  box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%), 4px 4px 8px 0 rgb(34 60 80 / 20%);
  z-index: 100;
}
.search-form__input {
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 5px;
}
.search-form__input:focus {
  outline: 0;
}

.search-form__button,
.load-more {
  height: 28px;
  background-color: rgb(248, 248, 248);
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search-form__button:hover,
.load-more:hover {
  background-color: rgba(163, 189, 223, 0.842);
  cursor: pointer;
}
.box {
  margin: 0px auto;
  max-width: 1300px;
  padding: 70px 15px;
}
/* ===============GALLERY================== */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.photo-card {
  max-width: 310px;
  margin-left: 10px;
  margin-top: 10px;
  flex-basis: calc((100% - 40px) / 4);
  box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.photo-card:hover {
  transform: scale(1.05);
}
.img {
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  background-color: rgba(138, 162, 206, 0.445);
  justify-content: space-around;
  padding: 0 3px;
  font-size: 14px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BUTTON load-more */
.button-box {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.load-more {
  border: solid 2px rgb(83, 83, 145);
  background-color: rgba(95, 112, 160, 0.623);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  text-transform: uppercase;
  color: azure;
}

.is-hidden {
  display: none;
}
